export NODE_ENV=development
export AWS_ACCESS_KEY_ID=AKIAJZ3A4XCDFWKN2SZQ
export AWS_SECRET_ACCESS_KEY=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
export AWS_REGION=us-west-2
export S3_BUCKET=my-hello-world-bucket